@import "antd/dist/antd.css";

body {
  background-color: aliceblue;
}

.contentLayout {
  width: 1080px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
}

.tag {
  display: flex;
  justify-content: flex-start;
}
